Nodered flows/1.IOT device flow.json
[{"id":"7d578d7f.83a984","type":"tab","label":"1.IOT device flow","disabled":false,"info":""},{"id":"c589f68.3657608","type":"ibmiot in","z":"7d578d7f.83a984","authentication":"apiKey","apiKey":"61c7283e.13ed68","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"1807","applicationId":"","deviceType":"Smart_Band","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":true,"qos":0,"x":140,"y":200,"wires":[["cf9556b3.6f3c78","183525c.1d751da","d2920b7.8ad44f8","c8dbe42.5ebeb18","263de28d.19d78e","3cb74432.d7b5ac","93fb3e51.af8b2"]]},{"id":"cf9556b3.6f3c78","type":"debug","z":"7d578d7f.83a984","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":430,"y":60,"wires":[]},{"id":"8f56efed.918ee","type":"ui_gauge","z":"7d578d7f.83a984","name":"Temperature","group":"8a0921b3.f25d3","order":2,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"°C","format":"{{Temperature}}","min":"0","max":"41","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":590,"y":220,"wires":[]},{"id":"183525c.1d751da","type":"function","z":"7d578d7f.83a984","name":"Temperature ","func":"msg.payload = msg.payload.Temperature;\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":220,"wires":[["8f56efed.918ee"]]},{"id":"4e67b519.3a16ac","type":"ui_gauge","z":"7d578d7f.83a984","name":"Diastolic","group":"4380b496.476d5c","order":4,"width":0,"height":0,"gtype":"gage","title":"Diastolic","label":"mm Hg","format":"{{Diastolic}}","min":"0","max":"140","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":500,"y":340,"wires":[]},{"id":"d2920b7.8ad44f8","type":"function","z":"7d578d7f.83a984","name":"Diastolic","func":"msg.payload = msg.payload.Diastolic;\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":340,"wires":[["4e67b519.3a16ac"]]},{"id":"920bc845.494cf8","type":"ui_gauge","z":"7d578d7f.83a984","name":"Pulse","group":"da5c1506.02cb78","order":5,"width":0,"height":0,"gtype":"gage","title":"Pulse","label":"beats/min","format":"{{Pulse}}","min":"0","max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":490,"y":420,"wires":[]},{"id":"c8dbe42.5ebeb18","type":"function","z":"7d578d7f.83a984","name":"Pulse","func":"msg.payload = msg.payload.Pulse;\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":420,"wires":[["920bc845.494cf8"]]},{"id":"263de28d.19d78e","type":"function","z":"7d578d7f.83a984","name":"Setting variables globally","func":"global.set(\"BodyTemperature\",msg.payload.BodyTemperature);\nglobal.set(\"BloodPressure\",msg.payload.BloodPressure);\nglobal.set(\"HeartBeat\",msg.payload.HeartBeat);\n\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":120,"wires":[[]]},{"id":"57a4070f.cf1e78","type":"http in","z":"7d578d7f.83a984","name":"Redirecting data","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":180,"y":680,"wires":[["76bd8b93.dcf194"]]},{"id":"1be7e21d.baddbe","type":"http response","z":"7d578d7f.83a984","name":"","statusCode":"","headers":{},"x":650,"y":700,"wires":[]},{"id":"76bd8b93.dcf194","type":"function","z":"7d578d7f.83a984","name":"Sending Health Params","func":"msg.payload = {\n    \"tmp\":global.get(\"BodyTemperature\"),\n    \"bp\":global.get(\"BloodPressure\"),\n    \"hbeat\":global.get(\"HeartBeat\")\n}\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":660,"wires":[["1be7e21d.baddbe"]]},{"id":"6ccebb95.5c06a4","type":"comment","z":"7d578d7f.83a984","name":"1. Visualizing IOT data","info":"","x":120,"y":100,"wires":[]},{"id":"e1b6e81f.69a188","type":"comment","z":"7d578d7f.83a984","name":"2. Redirecting data to  \"/data\" url","info":"","x":170,"y":620,"wires":[]},{"id":"53412db6.139cb4","type":"ui_gauge","z":"7d578d7f.83a984","name":"Age","group":"c8beee14.6f026","order":1,"width":0,"height":0,"gtype":"gage","title":"Age","label":"years","format":"{{Age}}","min":"0","max":"80","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":630,"y":160,"wires":[]},{"id":"93fb3e51.af8b2","type":"function","z":"7d578d7f.83a984","name":"Age","func":"msg.payload = msg.payload.Age;\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":160,"wires":[["53412db6.139cb4"]]},{"id":"b6465eee.42148","type":"ui_gauge","z":"7d578d7f.83a984","name":"Systolic","group":"5fa6aade.02d614","order":3,"width":0,"height":0,"gtype":"gage","title":"Systolic","label":"mm Hg","format":"{{Systolic}}","min":"0","max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":540,"y":280,"wires":[]},{"id":"3cb74432.d7b5ac","type":"function","z":"7d578d7f.83a984","name":"Systolic","func":"msg.payload = msg.payload.Systolic;\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":280,"wires":[["b6465eee.42148"]]},{"id":"61c7283e.13ed68","type":"ibmiot","z":"","name":"IBM Health app","keepalive":"60","serverName":"fp6hdx.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"8a0921b3.f25d3","type":"ui_group","z":"","name":"Temperature","tab":"f210c57a.d959d8","order":2,"disp":true,"width":"6","collapse":false},{"id":"4380b496.476d5c","type":"ui_group","z":"","name":"Diastolic","tab":"f210c57a.d959d8","order":4,"disp":true,"width":"6","collapse":false},{"id":"da5c1506.02cb78","type":"ui_group","z":"","name":"Pulse","tab":"f210c57a.d959d8","order":5,"disp":true,"width":"6","collapse":false},{"id":"c8beee14.6f026","type":"ui_group","z":"","name":"Age","tab":"f210c57a.d959d8","order":1,"disp":true,"width":"6","collapse":false},{"id":"5fa6aade.02d614","type":"ui_group","z":"","name":"Systolic","tab":"f210c57a.d959d8","order":3,"disp":true,"width":"6","collapse":false},{"id":"f210c57a.d959d8","type":"ui_tab","z":"","name":"Health dashboard","icon":"dashboard","order":3,"disabled":false,"hidden":false}]