Nodered flows/2.User Registration and login flow.json
[{"id":"9d32bbf6.7e9e28","type":"tab","label":"2.User Registration and login flow","disabled":false,"info":""},{"id":"b0f8384a.1b9168","type":"ui_form","z":"9d32bbf6.7e9e28","name":"Registration Page","label":"","group":"226dd46.420c92c","order":1,"width":0,"height":0,"options":[{"label":"name","value":"name","type":"text","required":true,"rows":null},{"label":"age","value":"age","type":"number","required":true,"rows":null},{"label":"gender","value":"gender","type":"text","required":true,"rows":null},{"label":"address","value":"address","type":"multiline","required":true,"rows":3},{"label":"email id","value":"email","type":"email","required":true,"rows":null},{"label":"phone number","value":"phoneno","type":"number","required":true,"rows":null},{"label":"Set new password","value":"pwd","type":"password","required":true,"rows":null},{"label":"Confirm password","value":"pwd2","type":"password","required":true,"rows":null}],"formValue":{"name":"","age":"","gender":"","address":"","email":"","phoneno":"","pwd":"","pwd2":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":350,"y":140,"wires":[["2a2b0848.6726b8","eb91b1af.d368b","6a4442a0.f3e72c"]]},{"id":"623869eb.e3c3b8","type":"cloudant out","z":"9d32bbf6.7e9e28","name":"storing registration details","cloudant":"ecf2ff9c.a5ddb","database":"remote_health_monitoring","service":"node-red-cgbhd-cloudant-1591678193709-36270","payonly":true,"operation":"insert","x":870,"y":140,"wires":[]},{"id":"2a2b0848.6726b8","type":"debug","z":"9d32bbf6.7e9e28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":690,"y":40,"wires":[]},{"id":"6a4442a0.f3e72c","type":"function","z":"9d32bbf6.7e9e28","name":"Forming key-value pairs","func":"msg.payload={\n    \n    \"_id\":msg.payload.email,\n    \"name\":msg.payload.name,\n    \"age\":msg.payload.age,\n    \"gender\":msg.payload.gender,\n    \"address\":msg.payload.address,\n    \"email\":msg.payload.email,\n    \"phoneno\":msg.payload.phoneno,\n    \"pwd\":msg.payload.pwd,\n    \"pwd2\":msg.payload.pwd2\n    \n}\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":140,"wires":[["623869eb.e3c3b8"]]},{"id":"5bcec50c.35d08c","type":"ui_text","z":"9d32bbf6.7e9e28","group":"226dd46.420c92c","order":2,"width":0,"height":0,"name":"msg","label":"","format":"{{msg.payload}}","layout":"col-center","x":870,"y":240,"wires":[]},{"id":"eb91b1af.d368b","type":"function","z":"9d32bbf6.7e9e28","name":"Message display","func":"msg.payload=\"Hey! \"+msg.payload.name+\" Successfully Registered\";\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":200,"wires":[["5bcec50c.35d08c"]]},{"id":"bd349e92.236f2","type":"comment","z":"9d32bbf6.7e9e28","name":"2.Registration flow","info":"","x":350,"y":40,"wires":[]},{"id":"72a81aa6.15cb84","type":"comment","z":"9d32bbf6.7e9e28","name":"3..Login flow","info":"","x":310,"y":380,"wires":[]},{"id":"b819a4f9.1efb28","type":"ui_form","z":"9d32bbf6.7e9e28","name":"Login form","label":"","group":"b2494b88.b153f8","order":1,"width":0,"height":0,"options":[{"label":"email id","value":"email","type":"email","required":true,"rows":null},{"label":"password","value":"pwd","type":"password","required":true,"rows":null}],"formValue":{"email":"","pwd":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":290,"y":460,"wires":[["79a57949.407f58"]]},{"id":"72ddd6c7.09e718","type":"cloudant in","z":"9d32bbf6.7e9e28","name":"","cloudant":"ecf2ff9c.a5ddb","database":"remote_health_monitoring","service":"node-red-cgbhd-cloudant-1591678193709-36270","search":"_id_","design":"","index":"","x":890,"y":460,"wires":[["57a20340.757b4c"]]},{"id":"af25d333.41df8","type":"function","z":"9d32bbf6.7e9e28","name":"Set _id(key or doc name) as email","func":"var email = global.get(\"email\");\nmsg.payload={\n    \"_id\":email\n}\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":520,"wires":[["72ddd6c7.09e718"]]},{"id":"79a57949.407f58","type":"function","z":"9d32bbf6.7e9e28","name":"setting email and password globally","func":"global.set(\"email\",msg.payload.email);\nglobal.set(\"pwd\",msg.payload.pwd);\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":420,"wires":[["af25d333.41df8"]]},{"id":"57a20340.757b4c","type":"function","z":"9d32bbf6.7e9e28","name":"Validation","func":"var pwd = global.get(\"pwd\");\n\nif(msg.payload.pwd == pwd){\n\n    msg.payload = \"Login Successfull\"\n}\nelse{\n    msg.payload = \"Invalid Password\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":940,"y":380,"wires":[["b4c9eeca.0a619"]]},{"id":"b4c9eeca.0a619","type":"ui_text","z":"9d32bbf6.7e9e28","group":"b2494b88.b153f8","order":2,"width":0,"height":0,"name":"Msg","label":"","format":"{{msg.payload}}","layout":"col-center","x":1110,"y":360,"wires":[]},{"id":"80bc4f6e.fef31","type":"function","z":"9d32bbf6.7e9e28","name":"clear text","func":"msg.payload=\" \";\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":280,"wires":[["5bcec50c.35d08c","b4c9eeca.0a619"]]},{"id":"c215516b.e12b9","type":"inject","z":"9d32bbf6.7e9e28","name":"","topic":"","payload":"\" \"","payloadType":"str","repeat":"180","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":300,"wires":[["80bc4f6e.fef31","186d50d1.3eab8f","9129ffc8.0cf88"]]},{"id":"186d50d1.3eab8f","type":"function","z":"9d32bbf6.7e9e28","name":"clear form 1","func":"    msg.payload.email=\" \"\n    msg.payload.name=\" \"\n    msg.payload.age=\" \"\n    msg.payload.gender=\" \"\n    msg.payload.address=\" \"\n    msg.payload.email=\" \"\n    msg.payload.phoneno=\" \"\n    msg.payload.pwd=\" \"\n    msg.payload.pwd2=\" \"\n    \n\nreturn msg;","outputs":1,"noerr":0,"x":110,"y":140,"wires":[["b0f8384a.1b9168"]]},{"id":"9129ffc8.0cf88","type":"function","z":"9d32bbf6.7e9e28","name":"clear form2","func":"    msg.payload.email=\" \"\n    msg.payload.pwd=\" \"\n    \n\nreturn msg;","outputs":1,"noerr":0,"x":110,"y":520,"wires":[["b819a4f9.1efb28"]]},{"id":"226dd46.420c92c","type":"ui_group","z":"","name":"Registration page","tab":"8c55ddb4.028fc","order":2,"disp":true,"width":"6","collapse":false},{"id":"ecf2ff9c.a5ddb","type":"cloudant","z":"","host":"5514a533-f719-490a-b1bf-ec9bc72d3d22-bluemix.cloudantnosqldb.appdomain.cloud","name":""},{"id":"b2494b88.b153f8","type":"ui_group","z":"","name":"login details","tab":"34bd0168.73e3fe","order":1,"disp":true,"width":"6","collapse":false},{"id":"8c55ddb4.028fc","type":"ui_tab","z":"","name":"Registration Page","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"34bd0168.73e3fe","type":"ui_tab","z":"","name":"Login page","icon":"dashboard","order":2,"disabled":false,"hidden":false}]