Nodered flows/3.Machine learing flow.json
[{"id":"dd645a2d.33a728","type":"tab","label":"3.Machine learning flow","disabled":false,"info":""},{"id":"8ab20c81.24ae2","type":"comment","z":"dd645a2d.33a728","name":"4.Machine learning part","info":"","x":480,"y":40,"wires":[]},{"id":"7a094059.16a6c","type":"ui_form","z":"dd645a2d.33a728","name":"ML input form","label":"","group":"f18a8d77.f692e","order":0,"width":0,"height":0,"options":[{"label":"age","value":"age","type":"number","required":true,"rows":null},{"label":"temperature","value":"temp","type":"number","required":true,"rows":null},{"label":"systolic Pressure","value":"sys","type":"number","required":true,"rows":null},{"label":"Dyastolic Pressure","value":"dys","type":"number","required":true,"rows":null},{"label":"pulse","value":"pulse","type":"number","required":true,"rows":null}],"formValue":{"age":"","temp":"","sys":"","dys":"","pulse":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":480,"y":100,"wires":[["14082a3.76744d6"]]},{"id":"14082a3.76744d6","type":"function","z":"dd645a2d.33a728","name":"pre-token","func":"global.set(\"age\",msg.payload.age)\nglobal.set(\"temp\",msg.payload.temp)\nglobal.set(\"sys\",msg.payload.sys)\nglobal.set(\"dys\",msg.payload.dys)\nglobal.set(\"pulse\",msg.payload.pulse)\nvar apikey=\"E89opJhnP4NThwO5n0e8UcDq423C3u35_0p9yD-tgoE6\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;\n","outputs":1,"noerr":0,"x":720,"y":100,"wires":[["3e8faf2.3e2255"]]},{"id":"3e8faf2.3e2255","type":"http request","z":"dd645a2d.33a728","name":"authentication(http request)","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":520,"y":220,"wires":[["b84f6918.2d1538"]]},{"id":"30553866.ca2d88","type":"http request","z":"dd645a2d.33a728","name":"ML service(http request)","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/ml/v4/deployments/ee5e9a3f-a093-47ba-b889-6f17262c8a01/predictions?version=2020-12-31","tls":"","persist":false,"proxy":"","authType":"","x":540,"y":340,"wires":[["8e3df02.eab0c1"]]},{"id":"b84f6918.2d1538","type":"function","z":"dd645a2d.33a728","name":"Pre-prediction ","func":"var age = global.get(\"age\")\nvar temp = global.get(\"temp\")\nvar sys = global.get(\"sys\")\nvar dys = global.get(\"dys\")\nvar pulse = global.get(\"pulse\")\n\nvar token=msg.payload.access_token\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"Accept\":\"application/json\"}\n\nmsg.payload={\n    \"input_data\":\n    [\n    {\"fields\": [\n        [\"age\",\"temp\",\"sys\",\"dys\",\"pulse\"]\n        ],\n        \"values\": [\n            [age,temp,sys,dys,pulse]\n            ]\n    }\n    ]\n}\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":220,"wires":[["30553866.ca2d88"]]},{"id":"8e3df02.eab0c1","type":"function","z":"dd645a2d.33a728","name":"Parsing","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":340,"wires":[["2a13bd36.549322"]]},{"id":"2a13bd36.549322","type":"ui_text","z":"dd645a2d.33a728","group":"184af87f.ba40b8","order":0,"width":0,"height":0,"name":"prediction","label":"prediction","format":"{{msg.payload}}","layout":"row-spread","x":590,"y":440,"wires":[]},{"id":"7590c4c.4ba503c","type":"function","z":"dd645a2d.33a728","name":"clear text","func":"msg.payload=\" \";\nreturn msg;","outputs":1,"noerr":0,"x":220,"y":440,"wires":[["2a13bd36.549322"]]},{"id":"6cb71c84.8ebf94","type":"inject","z":"dd645a2d.33a728","name":"","topic":"","payload":"\" \"","payloadType":"str","repeat":"180","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":300,"wires":[["7590c4c.4ba503c","89594bc5.e58478"]]},{"id":"89594bc5.e58478","type":"function","z":"dd645a2d.33a728","name":"clear form","func":"    msg.payload.age=\" \"\n    msg.payload.temp=\" \"\n    msg.payload.sys=\" \"\n    msg.payload.dys=\" \"\n\nreturn msg;","outputs":1,"noerr":0,"x":180,"y":100,"wires":[["7a094059.16a6c"]]},{"id":"f18a8d77.f692e","type":"ui_group","z":"","name":"Prediction page","tab":"722e1152.125b2","order":1,"disp":true,"width":"6","collapse":false},{"id":"184af87f.ba40b8","type":"ui_group","z":"","name":"output","tab":"722e1152.125b2","order":2,"disp":true,"width":"6","collapse":false},{"id":"722e1152.125b2","type":"ui_tab","z":"","name":"Machine learning analytics page","icon":"dashboard","disabled":false,"hidden":false}]